body{
    font-family: 'Playfair Display', serif;
    background-color: rgba(96, 175, 228, 0.2);
    margin: 0;
    padding: 0;
}
.main-div{
    display: flex;
    margin-top: 80px;

}

.info{
    width: 50%;
    /* margin-top: 60px; */
    
}
.center-div{
    margin-left: 100px;
}
.main-div .info .center-div h1 span{
    color: red;
    font-style: italic;
}
.main-div .info .center-div p{
    text-align: justify;
    margin: 30px 0;
}
.main-div .info .center-div a{
    background-image: linear-gradient(red,gree,blue);
    padding: 9px 25px;
    width: 120px;
    height: 35px;
    font-weight: 550;
    font-size: 16px;
    color: red;
    border-radius: 30px;
    box-shadow: 3px 3px 8px rgb(177, 134, 206);
    text-decoration: none;
}

.img-div{
    width: 50%;
}

.img-div img{
    background-color: rgb(235, 95, 211);
    /* background-image: linear-gradient(red,gree,blue); */
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-left: 100px;
    box-shadow: 10px 5px 20px rgb(198, 161, 223);
}